html {
  height: 100%;
}

.dnv-text {
  color: white !important;
}
/*
* {
        margin: 0 !important;
        padding: 0 !important;
        border: 0 !important;
        outline: 0 !important;
        font-size: 100% !important;
        vertical-align: baseline !important;
        background: transparent !important;
    }*/

body {
  /* Note this is a temporary image: Find something better later, get a pattern that can repeat*/
  background:url('background.jpg');
  /*background-size:cover;*/
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.centered-form {
  align-content: center;
}

.text-form-generic {
  width: 30%;
  
}

.jumbotron {
  background: rgba(0,0,0,0.8);
  color: white;
  width: 100%;
  text-align: center;
  background-size:cover;
  background-position:center;
  padding-top:10px;
  padding-bottom:50px;
  border-radius: 25px !important
}

.container {
  width: 75%;
  height: 85%;
}

.highlight {
  background: rgba(127, 255, 233, 0.59);
}

.img-responsive {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.btn-pg-color {
  color: grey !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: white !important;
    color: gray ;
}

.btn-outline-lg {
    background-color: gray;
}

.btn-home-orwidth {
   width: 200px !important;
   margin-bottom: 20px;
}

#homerow {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

.card-img-top {
  border-radius: 25px;
  width:300px;
  height:300px;
}

.home-card {
  width:300px;
  margin-bottom: 100px;
}

.card {
  background-color: white;
  border-radius: 25px;
  border-width: 0px;
  color: gray;
  /*https://stackoverflow.com/questions/39031224/how-to-center-cards-in-bootstrap-4*/
  /*Not ideal fix, but best solution for now considering trouble with using mx-auto and scaling*/
  margin: auto;
  float: none;
  margin-bottom: 25px;
}

.item-carousel {
	margin-bottom: 100px;
}


.home-card-button {
  margin-bottom: 16px;
}

.about-card {
  width:300px;
}

.black-container {
  background-color: rgba(0,0,0,0.8);
  height: 100% !important;
  width: 75%;
  align-content: center;
  text-align: center;
  color: white;
  padding-bottom: 20px;
}


.home-container {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.tools-div-box {
  background-color: gray;
  color: black;
  margin: 25px;
  border-radius: 15px;
}

.about-list {
  margin-bottom: 50px;
  border-radius: 15px;
}

.div-model-basic {
  background-color: gray;
  color: black;
  margin: 25px;
  border-radius: 15px;
  padding: 10px;
  align-content: center;
}

.div-extra-padding {
  padding-left: 10%;
  padding-right: 10%;
}

.div-model-basic div {
  text-align: left;
  padding: 10px;
}

.card-about {
  margin-bottom: 0px;
}

.carousel-inner > .item > img {
  margin: 0 auto;
  height: 512px;
  width: 900px;
  background: rgba(0,0,0,1);

}

.carousel {
  margin-top: 25px;
  background: rgba(0,0,0,0) !important;
}

.item-carousel {
  margin: 0 auto;
  height: 512px;
  width: 900px;
  background: rgba(0,0,0,1);
}

* {
  font-family: courier;
}

.img-rounded {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.generic-link {
  color: black !important;
  text-decoration: underline !important;
}

.card-body h5 {
  color: black;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-text {
  color: black; 
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.hr-general {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#FFFFFF;
  height: 1px;
}

.search-width {
  width: 42% !important;
  align-content: center !important;
  display: inline-block !important;
}